In [1]:
pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.10.1 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 39.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.37-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 43.8 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (613 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.1/613.1 kB 28.9 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp312-cp312-linux_x86_64.whl size=136732 sha256=e813f1d40a243fb291f166e6a0fc0a8580ac8377a6b5e66328a44266c63c1770
  Stored in directory: /home/codespace/.cache/pip/wheels/27/95/18/7f176fffd46629e710c04c810b9c4d7d4358fe7c96a7d2306d
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [5]:
engine = db.create_engine('mysql://root:root@127.0.0.1:3310/retail_db')
conn = engine.connect()

In [6]:
customers_df = pd.read_sql_query('SELECT * FROM customers', con=conn)

customers_df

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,00725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,00725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [11]:
from pymongo import MongoClient
connection_string = 'mongodb+srv://jctuesta7:XzSZO1nH0mcAdNkJ@cluster0.lfx8q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = MongoClient(connection_string)

In [12]:
colection = client['sample_mflix']['embedded_movies']

cursor = colection.find({})

df = pd.DataFrame(cursor)

df

,_id,plot,genres,runtime,cast,num_mflix_comments,poster,title,fullplot,languages,...,awards,lastupdated,year,imdb,countries,type,tomatoes,plot_embedding,rated,metacritic
0,573a1390f29313caabcd5293,Young Pauline is left a lot of money when her ...,[Action],199.0,"[Pearl White, Crane Wilbur, Paul Panzer, Edwar...",0,https://m.media-amazon.com/images/M/MV5BMzgxOD...,The Perils of Pauline,Young Pauline is left a lot of money when her ...,[English],...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-12 00:01:18.647000000,1914,"{'rating': 7.6, 'votes': 744, 'id': 4465}",[USA],movie,"{'viewer': {'rating': 2.8, 'numReviews': 9}, '...","[0.00072939653, -0.026834568, 0.013515796, -0....",NaN,NaN
1,573a1391f29313caabcd68d0,A penniless young man tries to save an heiress...,"[Comedy, Short, Action]",22.0,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",0,https://m.media-amazon.com/images/M/MV5BNzE1OW...,From Hand to Mouth,As a penniless man worries about how he will m...,[English],...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-04-17 00:16:14.220000000,1919,"{'rating': 7.0, 'votes': 639, 'id': 10146}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 71, '...","[-0.022837115, -0.022941574, 0.014937485, -0.0...",TV-G,NaN
2,573a1391f29313caabcd820b,"Michael ""Beau"" Geste leaves England in disgrac...","[Action, Adventure, Drama]",101.0,"[Ronald Colman, Neil Hamilton, Ralph Forbes, A...",0,NaN,Beau Geste,"Michael ""Beau"" Geste leaves England in disgrac...",[English],...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-25 00:40:54.383000000,1926,"{'rating': 6.9, 'votes': 222, 'id': 16634}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 75, '...","[0.00023330493, -0.028511643, 0.014653289, -0....",NaN,NaN
3,573a1391f29313caabcd8268,"Seeking revenge, an athletic young man joins t...","[Adventure, Action]",88.0,"[Billie Dove, Tempe Pigott, Donald Crisp, Sam ...",1,https://m.media-amazon.com/images/M/MV5BMzU0ND...,The Black Pirate,A nobleman vows to avenge the death of his fat...,NaN,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-22 01:10:11.970000000,1926,"{'rating': 7.2, 'votes': 1146, 'id': 16654}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 1390,...","[-0.005927917, -0.033394486, 0.0015323418, -0....",NaN,NaN
4,573a1391f29313caabcd8319,An irresponsible young millionaire changes his...,"[Action, Comedy, Romance]",58.0,"[Harold Lloyd, Jobyna Ralston, Noah Young, Jim...",0,https://m.media-amazon.com/images/M/MV5BMTcxMT...,For Heaven's Sake,"The Uptown Boy, J. Harold Manners (Lloyd) is a...",[English],...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-19 00:35:01.953000000,1926,"{'rating': 7.6, 'votes': 918, 'id': 16895}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 87, '...","[-0.0059373598, -0.026604708, -0.0070914757, -...",PASSED,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,573a13f3f29313caabddfd80,NaN,"[Comedy, Drama, Fantasy]",119.0,"[Vivian Sung, Bruce Lu-Si Bu, Megan Lai, Li-An...",0,NaN,Cafè. Waiting. Love,NaN,[Mandarin],...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-11 00:35:00.010000000,2014,"{'rating': 6.8, 'votes': 462, 'id': 3974790}",[Taiwan],movie,NaN,NaN,NaN,NaN
3479,573a13f3f29313caabddfde0,Two siblings discover a supernatural escape fr...,"[Drama, Fantasy, Thriller]",90.0,"[Kiernan Shipka, Timothèe Chalamet, Elizabeth ...",0,https://m.media-amazon.com/images/M/MV5BMDkyNW...,One and Two,Zac and Eva live with their parents in isolate...,[English],...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-04 00:10:45.303000000,2015,"{'rating': 5.5, 'votes': 261, 'id': 3975510}",[USA],movie,NaN,"[0.01443591, -0.014968648, -0.0077961707, -0.0...",NaN,47.0
3480,573a13f5f29313caabde3a5f,Mizuki's husband (Yusuke) drowned at sea three...,"[Drama, Fantasy, Romance]",127.0,"[Eri Fukatsu, Tadanobu Asano, Masaaki Akahori,...",1,https://m.media-amazon.com/images/M/MV5BMTJlOT...,Journey to the Shore,Mizuki's husband (Yusuke) drowned at sea three...,[Japanese],...,"{'wins': 1, 'nominations': 2, 'text': '1 win &...",2015-09-11 00:00:26.287000000,2015,"{'rating': 5.2, 'votes': 63, 'id': 4173478}",[Japan],movie,NaN,"[0.006564625, -0.02858587, -0.01601545, 0.0004...",NaN,NaN
3481,573a13f7f29313caabde5fa9,"Away from home, living alone in an old and glo...","[Fantasy, Mystery, Thriller]",62.0,"[Ticiana Augusto Lima, Guto Parente]",0,https://m.media-amazon.com/images/M/MV5BODY4ZT...,The Mysterious Death of Pèrola,"Away from home, living alone in an old and glo...","[French, Portuguese]",...,"{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-09-14 08:37:40.413000000,2014,"{'rating': 7.1, 'votes': 14, 'id': 4334720}","[Brazil, France]",movie,NaN,"[0.01314639, -0.011841122, 0.013581479, -0.028...",NaN,NaN
3482,573a13f7f29313caabde65b4,Our figurine sized supermen hero embarks on an...,"[Adventure, Fantasy, Mystery]",68.0,"[Daniel Tadesse, Selam Tesfayie]",0,NaN,Crumbs,Crumbs is a Spanish-Ethiopian Since fictional ...,"[Amharic, Afrikaans]",...,"{'wins': 2, 'nominations': 5, 'text': '2 wins ...",2015-09-06 00:05:01.353000000,2015,"{'rating': 6.1, 'votes': 81, 'id': 4362764}","[Ethiopia, Spain, Finland]",movie,NaN,"[-0.0009377669, -0.021177763, -0.0052474686, -...",NaN,NaN